.cartsticker {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 9px;
}

.cart {
    color: #fff;
    font-size:28px;
}

#lblCartCount {
    font-size: 12px;
    background: #dc3545;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
    padding-right: 9px;
}
