.price::before {
    content: '$';
    font-size: 1rem;
    position:relative;
    top:-0.7rem;
}

.price {
    font-size: 2rem;
    vertical-align: text-top;
}

.price::after {
    content: '.00';
    font-size: 1rem;
    position:relative;
    top:-0.7rem;
}

.discount-price {
    color: red;
}

.discount-strike {
    text-decoration: line-through;
}