<div class="containerList card">
    <div class="buttonWishlist">
        <div *ngIf="this.shoppingCartService.wishlistMap.has(product.id); else notWishlisted">
            <button class="btn btn-secondary" (click)="this.shoppingCartService.removeFromWishlist(product)"><fa-icon [icon]="heartIcon"></fa-icon></button>
        </div>
        <ng-template #notWishlisted><button class="btn btn-outline-secondary" (click)="this.shoppingCartService.addToWishlist(product)"><fa-icon [icon]="heartIcon"></fa-icon></button></ng-template>
    </div>
    <div>
        <a routerLink="/product/{{product.id}}">
            <img src="{{ product.image }}">
        </a>
    </div>
    <div class="contProductInfo">
        <h2 style="margin-bottom:0px;"><a class="productName" routerLink="/product/{{product.id}}">{{ product.name }}</a></h2>
        <div>
            <span class="category">{{ product.category }}</span><br>
            <div class="price" [ngClass]="{'discount-price': product.discount > 0 }">{{ this.productService.getSellPrice(product) }}</div>
            <div class="message">
                <div class="discount-price" style="font-size:0.75rem;" *ngIf="product.discount > 0"><span class="discount-strike">WAS ${{ product.price }}</span> SAVE ${{ product.discount }}</div>
            </div>
        </div>
        <button class="btn btn-primary justified" (click)="this.shoppingCartService.addToCart(product, 1)">Add to cart</button>
    </div>
</div>