<div>
    <img src="{{ product.image }}">
</div>
<h2><a routerLink="/product/{{product.id}}">{{ product.name }}</a></h2>
<div>
    {{ product.category }}<br>
    {{ product.description }}<br>
    <div class="price" [ngClass]="{'discount-price': product.discount > 0 }">{{ this.productService.getSellPrice(product) }}</div>
    <div class="discount-price" *ngIf="product.discount > 0"><span class="discount-strike">WAS ${{ product.price }}</span> SAVE ${{ product.discount }}</div>
</div>

<button (click)="this.shoppingCartService.addToCart(product)">Add to cart</button>

<div *ngIf="this.shoppingCartService.wishlistMap.has(product.id); else notWishlisted">
    <button (click)="this.shoppingCartService.removeFromWishlist(product)">Remove from wishlist</button>
</div>
<ng-template #notWishlisted>
    <button (click)="this.shoppingCartService.addToWishlist(product)">Add to wishlist</button>
</ng-template>

<br>
